# LLM - Development (Free)
GROQ_API_KEY=your_groq_api_key_here

# LLM - Production
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here

# Kubernetes
KUBECONFIG=/home/ubuntu/.kube/config

# Monitoring
ALERTMANAGER_URL=http://localhost:9093
PROMETHEUS_URL=http://localhost:9090

# Slack
SLACK_WEBHOOK_URL=your_slack_webhook_here
